*.pro.user
*.qm

Makefile
Makefile.Debug
Makefile.Release
moc_*
qrc_*
ui_*
*.o
*.moc
object_script.*
*.exe

/yle-downloader-gui
test/testVideoInfo/testVideoInfo
test/testVideoTableModel/testVideoTableModel

